Repository FlowFuse/website, changes with the owners that CODEOWNERS names for each.
All owners: @ZJvandeWeg, @joepavitt, @knolleary, @Yndira-E, @zackwasli, @MichaelBDavis

CODEOWNERS:

# Please note the _last matching rule_ is used
# Start with a catch all for the handbook
/src/handbook/ @ZJvandeWeg

/src/handbook/design @joepavitt
/src/handbook/development @knolleary

# Customer department
/src/handbook/customer @ZJvandeWeg
/src/handbook/customer/marketing/videos.md @Yndira-E
/src/handbook/customer/hubspot.md @zackwasli
/src/handbook/customer/sales/ @MichaelBDavis

# Security Polices
/src/handbook/company/security/information-security.md @ZJvandeWeg
/src/handbook/company/security/access-control.md @knolleary
/src/handbook/company/security/data-management.md @ZJvandeWeg
/src/handbook/company/security/secure-development.md @knolleary

# Change in values need sign off from both the CEO and CTO
/src/handbook/company/values.md @knolleary @ZJvandeWeg

update title
  src/blog/2025/03/deploy-node-red-flows-mqtt-brokers-flowfuse.md
Owners: none

Update deploy-node-red-flows-mqtt-brokers-flowfuse.md
  src/blog/2025/03/deploy-node-red-flows-mqtt-brokers-flowfuse.md
Owners: none

Add Changelog about updates to Node-RED container tags
  src/changelog/2025/03/container-tags.md
Owners: none

Fix authors
  src/changelog/2025/03/container-tags.md
Owners: none

Update billing.md
  src/handbook/operations/billing.md
Owners: @ZJvandeWeg

Update blueprints
  src/_includes/homepage_blueprints.njk
Owners: none

Update src/handbook/development/project-management.md
  src/handbook/development/project-management.md
Owners: @knolleary

Update KPIs page
  src/handbook/company/achieving-success.md
Owners: @ZJvandeWeg

tighten some info on KPIs page
  src/handbook/company/achieving-success.md
Owners: @ZJvandeWeg

Clean up decision making page
  src/handbook/company/decisions.md
Owners: @ZJvandeWeg

Improve guidance on 1:1s
  src/handbook/company/communication.md
Owners: @ZJvandeWeg

Update src/handbook/company/communication.md
  src/handbook/company/communication.md
Owners: @ZJvandeWeg

update blog
  src/blog/2025/03/deploy-node-red-flows-mqtt-brokers-flowfuse.md
  src/blog/2025/03/images/CHANGE-NODE-1.png
  src/blog/2025/03/images/CHANGE-NODE-TOPIC-1.png
  src/blog/2025/03/images/CHANGE-NODE-TOPIC.png
  src/blog/2025/03/images/CHANGE-NODE.png
Owners: none

update blog
  src/blog/2025/03/deploy-node-red-flows-mqtt-brokers-flowfuse.md
Owners: none

Update and rename deploy-node-red-flows-mqtt-brokers-flowfuse.md to managing-mqtt-connections-at-scale-in-flowfuse.md
  src/blog/2025/03/managing-mqtt-connections-at-scale-in-flowfuse.md
Owners: none

Fix typo
  src/_data/companies/signl.json
  src/_data/companies/singl.json
  src/images/signl4_logo.png
Owners: none

Update src/changelog/2025/03/container-tags.md
  src/changelog/2025/03/container-tags.md
Owners: none

Update src/changelog/2025/03/container-tags.md
  src/changelog/2025/03/container-tags.md
Owners: none

update blog
  src/blog/2025/03/images/CHANGE-NODE-TOPIC-1.png
  src/blog/2025/03/images/CHANGE-NODE-TOPIC.png
Owners: none

push tile
  src/blog/2025/03/images/broker-topic-monitoring.png
  src/blog/2025/03/images/mqtt-broker-monitoring.png
  src/blog/2025/03/images/scaling-mqtt-connections.png
  src/blog/2025/03/managing-mqtt-connections-at-scale-in-flowfuse.md
Owners: none

Changelog for Resource Alerts
  src/changelog/2025/03/images/resource-notifications-settings.png
  src/changelog/2025/03/images/resource-notifications.png
  src/changelog/2025/03/resource-notifications.md
Owners: none

Changelog for device agent local login
  src/changelog/2025/03/device-local-login.md
  src/changelog/2025/03/images/device-agent-local-login-settings.png
Owners: none

more _remote instance_ centric wording
  src/changelog/2025/03/device-local-login.md
Owners: none

Update index.md
  src/handbook/operations/index.md
Owners: @ZJvandeWeg

Update index.md
  src/handbook/operations/index.md
Owners: @ZJvandeWeg

push tile
  src/blog/2025/03/images/env-settings.png
  src/blog/2025/03/images/env-vars-blur.png
Owners: none

board meetings: Update to new process
  src/handbook/company/board.md
Owners: @ZJvandeWeg

typo: Thank you copilot for fixing
  src/handbook/company/board.md
Owners: @ZJvandeWeg

communication: Writing better stand up messages
  src/handbook/company/communication.md
Owners: @ZJvandeWeg

Update src/handbook/development/project-management.md
  src/handbook/development/project-management.md
Owners: @knolleary

Add bad, better, best example to standup
  src/handbook/company/communication.md
Owners: @ZJvandeWeg

Update recommended Slack channels
  src/handbook/company/communication.md
Owners: @ZJvandeWeg

Update src/changelog/2025/03/device-local-login.md
  src/changelog/2025/03/device-local-login.md
Owners: none

Update src/changelog/2025/03/device-local-login.md
  src/changelog/2025/03/device-local-login.md
Owners: none

Update src/changelog/2025/03/device-local-login.md
  src/changelog/2025/03/device-local-login.md
Owners: none

Propose sending prewatch to the board meeting
  src/handbook/company/board.md
Owners: @ZJvandeWeg

Link to insurance coverage
  src/handbook/customer/sales/legal.md
Owners: @MichaelBDavis

Blog: Part 1: Building an OEE Dashboard with FlowFuse
  src/blog/2025/03/building-oee-dashboard-with-flowfuse-part-1.md
  src/blog/2025/03/images/oee-dashboard-1.png
  src/blog/2025/03/images/oee-dashboard-2.png
  src/blog/2025/03/images/what-is-oee.png
Owners: none

Update building-oee-dashboard-with-flowfuse-part-1.md
  src/blog/2025/03/building-oee-dashboard-with-flowfuse-part-1.md
Owners: none

Update building-oee-dashboard-with-flowfuse-part-1.md
  src/blog/2025/03/building-oee-dashboard-with-flowfuse-part-1.md
Owners: none
