Repository FlowFuse/website, changes with the owners that CODEOWNERS names for each.
All owners: @ZJvandeWeg, @joepavitt, @knolleary, @Yndira-E, @zackwasli, @MichaelBDavis

Update src/handbook/development/ops/maintenance.md
  src/handbook/development/ops/maintenance.md
Owners: @knolleary

Adjust information about notifcations
  src/handbook/development/ops/maintenance.md
Owners: @knolleary

Update src/handbook/development/ops/maintenance.md
  src/handbook/development/ops/maintenance.md
Owners: @knolleary

update snapshot filter image
  src/changelog/2025/03/images/snapshot-filter.png
  src/changelog/2025/03/snapshot-filter.md
Owners: none

Update src/changelog/2025/03/snapshot-filter.md
  src/changelog/2025/03/snapshot-filter.md
Owners: none

Move data to front matter
  src/events/hannover-messe-2025.njk
Owners: none

Add live session section
  src/events/hannover-messe-2025.njk
  src/events/hm25-invite.ics
  src/events/images/hm25/mayker-session-banner.jpg
Owners: none

Fix broken link
  .eleventy.js
  src/events/hannover-messe-2025.njk
Owners: none

changelog for topic deletion
  src/changelog/2025/03/images/topic-deletion.png
  src/changelog/2025/03/topic-deletion.md
Owners: none

typos
  src/changelog/2025/03/topic-deletion.md
Owners: none

Update release process - add - verdaccio-ff-auth
  src/handbook/development/releases/process.md
Owners: @knolleary

remove header
  src/changelog/2025/02/additional-device-version-history-events.md
Owners: none

Content: 2.15 Release Post
  src/blog/2025/03/flowfuse-release-2-15.md
  src/blog/2025/03/images/screenshot-custon-catalog.png
  src/blog/2025/03/images/screenshot-user-role.png
Owners: none

Add tier clairification
  src/blog/2025/03/flowfuse-release-2-15.md
Owners: none

Add Blog Tile
  src/blog/2025/03/flowfuse-release-2-15.md
  src/blog/2025/03/images/release-2-15.png
Owners: none

Bump netlify cli to pick up dependency cves
  package-lock.json
  package.json
Owners: none

Update FAQ for pricing & volume discounts
  src/pricing/index.njk
Owners: none

NPM Registry changelog
  src/changelog/2025/03/images/custom-catalogue.png
  src/changelog/2025/03/images/custom-node-library.png
  src/changelog/2025/03/team-npm-registry.md
Owners: none

Add device cache to release process
  src/handbook/development/releases/process.md
Owners: @knolleary

Update process.md
  src/handbook/development/releases/process.md
Owners: @knolleary

Create SCADA page
  src/solutions/scada.njk
Owners: none

Update src/changelog/2025/03/topic-deletion.md
  src/changelog/2025/03/topic-deletion.md
Owners: none

Content Update: Add a note to point visitors to new feature for Private NPM registries
  src/blog/2023/10/use-private-custom-nodes-with-flowfuse.md
  src/css/style.css
Owners: none

Update href to point to docs, not blog
  src/blog/2023/10/use-private-custom-nodes-with-flowfuse.md
Owners: none

Update copy and add images
  src/images/solutions/scada-hero.png
  src/images/solutions/scada-how-diagram.png
  src/images/solutions/scada-how-flow.png
  src/solutions/scada.njk
Owners: none

Add item to main nav
  src/_includes/components/icons/adjustments-horizontal.svg
  src/_includes/layouts/base.njk
Owners: none

Add item to main nav
  src/solutions/scada.njk
Owners: none

Add item to main nav
  src/solutions/scada.njk
Owners: none

Update src/blog/2023/10/use-private-custom-nodes-with-flowfuse.md
  src/blog/2023/10/use-private-custom-nodes-with-flowfuse.md
Owners: none

Update src/blog/2023/10/use-private-custom-nodes-with-flowfuse.md
  src/blog/2023/10/use-private-custom-nodes-with-flowfuse.md
Owners: none

Update src/blog/2023/10/use-private-custom-nodes-with-flowfuse.md
  src/blog/2023/10/use-private-custom-nodes-with-flowfuse.md
Owners: none

Add a section in the "Messaging " section of your handbook to detail NR awareness stages
  src/handbook/customer/marketing/messaging.md
Owners: @ZJvandeWeg

Remove warning symbol from nr image
  src/images/solutions/scada-how-flow.png
Owners: none

Update stage terms per feedback
  src/handbook/customer/marketing/messaging.md
Owners: @ZJvandeWeg

Add RACI to Decisions page.md
  src/handbook/company/decisions.md
Owners: @ZJvandeWeg

Update billing.md
  src/handbook/operations/billing.md
Owners: @ZJvandeWeg

Update expenses.md
  src/handbook/peopleops/expenses.md
Owners: @ZJvandeWeg

Update scada.njk
  src/solutions/scada.njk
Owners: none

Add giveaway info
  src/events/hannover-messe-2025.njk
Owners: none

Update video
  src/index.njk
Owners: none

CODEOWNERS:

# Please note the _last matching rule_ is used
# Start with a catch all for the handbook
/src/handbook/ @ZJvandeWeg

/src/handbook/design @joepavitt
/src/handbook/development @knolleary

# Customer department
/src/handbook/customer @ZJvandeWeg
/src/handbook/customer/marketing/videos.md @Yndira-E
/src/handbook/customer/hubspot.md @zackwasli
/src/handbook/customer/sales/ @MichaelBDavis

# Security Polices
/src/handbook/company/security/information-security.md @ZJvandeWeg
/src/handbook/company/security/access-control.md @knolleary
/src/handbook/company/security/data-management.md @ZJvandeWeg
/src/handbook/company/security/secure-development.md @knolleary

# Change in values need sign off from both the CEO and CTO
/src/handbook/company/values.md @knolleary @ZJvandeWeg
