Repository FlowFuse/website, changes with the owners that CODEOWNERS names for each.
All owners: @ZJvandeWeg, @joepavitt, @knolleary, @Yndira-E, @zackwasli, @MichaelBDavis

CODEOWNERS:

# Please note the _last matching rule_ is used
# Start with a catch all for the handbook
/src/handbook/ @ZJvandeWeg

/src/handbook/design @joepavitt
/src/handbook/development @knolleary

# Customer department
/src/handbook/customer @ZJvandeWeg
/src/handbook/customer/marketing/videos.md @Yndira-E
/src/handbook/customer/hubspot.md @zackwasli
/src/handbook/customer/sales/ @MichaelBDavis

# Security Polices
/src/handbook/company/security/information-security.md @ZJvandeWeg
/src/handbook/company/security/access-control.md @knolleary
/src/handbook/company/security/data-management.md @ZJvandeWeg
/src/handbook/company/security/secure-development.md @knolleary

# Change in values need sign off from both the CEO and CTO
/src/handbook/company/values.md @knolleary @ZJvandeWeg

Update building-oee-dashboard-with-flowfuse-part-1.md
  src/blog/2025/03/building-oee-dashboard-with-flowfuse-part-1.md
Owners: none

Update building-oee-dashboard-with-flowfuse-part-1.md
  src/blog/2025/03/building-oee-dashboard-with-flowfuse-part-1.md
Owners: none

remove cartoon image
  src/blog/2025/03/images/what-is-oee.png
Owners: none

remove cartoon image
  src/blog/2025/03/building-oee-dashboard-with-flowfuse-part-1.md
Owners: none

Update starter tier info
  src/_data/pricingFeatures.yaml
  src/pricing/index.njk
Owners: none

Update src/blog/2025/03/managing-mqtt-connections-at-scale-in-flowfuse.md
  src/blog/2025/03/managing-mqtt-connections-at-scale-in-flowfuse.md
Owners: none

Update publishing date
  src/changelog/2025/03/resource-notifications.md
Owners: none

Update managing-mqtt-connections-at-scale-in-flowfuse.md
  src/blog/2025/03/managing-mqtt-connections-at-scale-in-flowfuse.md
Owners: none

New roles to be published on social channels
  src/handbook/customer/marketing/social-media.md
Owners: @ZJvandeWeg

Update src/handbook/development/ops/maintenance.md
  src/handbook/development/ops/maintenance.md
Owners: @knolleary

Update src/handbook/development/ops/maintenance.md
  src/handbook/development/ops/maintenance.md
Owners: @knolleary

fix anchor invoices
  src/handbook/customer/sales/engagements.md
Owners: @MichaelBDavis

Update trade show section
  src/handbook/customer/marketing/tradeshow.md
Owners: @ZJvandeWeg

fix bad anchor
  src/handbook/customer/sales/engagements.md
Owners: @MichaelBDavis

Fix typo
  src/handbook/customer/sales/engagements.md
Owners: @MichaelBDavis

Update netlify cli
  package-lock.json
  package.json
Owners: none

Update text
  src/handbook/customer/marketing/tradeshow.md
Owners: @ZJvandeWeg

Formatting/layout changes to the article
  src/blog/2025/03/building-oee-dashboard-with-flowfuse-part-1.md
Owners: none

Update building-oee-dashboard-with-flowfuse-part-1.md
  src/blog/2025/03/building-oee-dashboard-with-flowfuse-part-1.md
Owners: none

Update building-oee-dashboard-with-flowfuse-part-1.md
  src/blog/2025/03/building-oee-dashboard-with-flowfuse-part-1.md
Owners: none

Update building-oee-dashboard-with-flowfuse-part-1.md
  src/blog/2025/03/building-oee-dashboard-with-flowfuse-part-1.md
Owners: none

Update src/blog/2025/03/building-oee-dashboard-with-flowfuse-part-1.md
  src/blog/2025/03/building-oee-dashboard-with-flowfuse-part-1.md
Owners: none

Add more details
  src/handbook/customer/marketing/tradeshow.md
Owners: @ZJvandeWeg

add product marketer JD to handbook + JDs overview
  src/handbook/peopleops/job-descriptions/account-executive.md
  src/handbook/peopleops/job-descriptions/index.md
  src/handbook/peopleops/job-descriptions/product-marketer.md
Owners: @ZJvandeWeg

remove ae JD
  src/handbook/peopleops/job-descriptions/account-executive.md
Owners: @ZJvandeWeg

Update src/handbook/peopleops/job-descriptions/index.md
  src/handbook/peopleops/job-descriptions/index.md
Owners: @ZJvandeWeg

Apply suggestions from code review
  src/handbook/customer/marketing/tradeshow.md
Owners: @ZJvandeWeg

Remove bold formatting from some phrases
  src/handbook/customer/marketing/tradeshow.md
Owners: @ZJvandeWeg

add AE, JD
  src/handbook/peopleops/job-descriptions/account_executive.md
Owners: @ZJvandeWeg

abstract out Europe information
  src/handbook/peopleops/job-descriptions/account_executive.md
Owners: @ZJvandeWeg

add Europe info
  src/handbook/peopleops/job-descriptions/account_executive.md
Owners: @ZJvandeWeg

Remove KPI meeting from handbook
  src/handbook/company/communication.md
Owners: @ZJvandeWeg

Update communication page to reference company-wide announcements
  src/handbook/company/communication.md
Owners: @ZJvandeWeg

update achieving success page
  src/handbook/company/achieving-success.md
Owners: @ZJvandeWeg

push tile
  src/blog/2025/04/building-oee-dashboard-with-flowfuse-part-1.md
  src/blog/2025/04/images/building-oee-dashboard-part1.png
  src/blog/2025/04/images/oee-dashboard-1.png
  src/blog/2025/04/images/oee-dashboard-2.png
Owners: none

Call out Metrics review as part of strategy meeting + list metrics we'll be looking at
  src/handbook/company/achieving-success.md
Owners: @ZJvandeWeg

Update building-oee-dashboard-with-flowfuse-part-1.md
  src/blog/2025/04/building-oee-dashboard-with-flowfuse-part-1.md
Owners: none

Add missing comma to mission
  src/handbook/company/strategy.md
Owners: @ZJvandeWeg

Follow on PR to make project management responsibilities easier to read with a list
  src/handbook/development/project-management.md
Owners: @knolleary

Handbook: Detail the process of developing & publishing a Blueprint
  src/handbook/images/development/screenshot-blueprints-admin.png
  src/handbook/images/development/screenshot-blueprints-pm.png
  src/handbook/images/development/screenshot-blueprints.png
  src/handbook/product/blueprints.md
Owners: @ZJvandeWeg
