Repository FlowFuse/website, changes with the owners that CODEOWNERS names for each.
All owners: @ZJvandeWeg, @joepavitt, @knolleary, @Yndira-E, @zackwasli, @MichaelBDavis

CODEOWNERS:

# Please note the _last matching rule_ is used
# Start with a catch all for the handbook
/src/handbook/ @ZJvandeWeg

/src/handbook/design @joepavitt
/src/handbook/development @knolleary

# Customer department
/src/handbook/customer @ZJvandeWeg
/src/handbook/customer/marketing/videos.md @Yndira-E
/src/handbook/customer/hubspot.md @zackwasli
/src/handbook/customer/sales/ @MichaelBDavis

# Security Polices
/src/handbook/company/security/information-security.md @ZJvandeWeg
/src/handbook/company/security/access-control.md @knolleary
/src/handbook/company/security/data-management.md @ZJvandeWeg
/src/handbook/company/security/secure-development.md @knolleary

# Change in values need sign off from both the CEO and CTO
/src/handbook/company/values.md @knolleary @ZJvandeWeg

Hardware: Setting Node-RED on ARMxy BL340
  src/_includes/layouts/hardware.njk
  src/node-red/hardware/armxy-bl340.md
  src/node-red/hardware/images/armxy-bl340.jpg
  src/node-red/hardware/images/config-ff-command-b340.png
  src/node-red/hardware/images/status-flowfuse.png
  src/node-red/hardware/images/systemctl-status.png
Owners: none

Update armxy-bl340.md
  src/node-red/hardware/armxy-bl340.md
Owners: none

Update armxy-bl340.md
  src/node-red/hardware/armxy-bl340.md
Owners: none

Update armxy-bl340.md
  src/node-red/hardware/armxy-bl340.md
Owners: none

Update video
  src/index.njk
Owners: none

Update info
  src/images/partners/logo-40hero.png
  src/images/partners/logo-hexa-ai.png
  src/images/partners/logo-idoneo.png
  src/images/partners/logo-idoneos.png
  src/images/partners/logo-mayker.png
  src/images/partners/logo-wago.png
  src/partners/index.njk
Owners: none

Refactor code
  src/partners/index.njk
Owners: none

Describe how we handle programmatical access to external resources
  src/handbook/company/security/access-control.md
Owners: @knolleary

Align bullet points
  src/handbook/company/security/access-control.md
Owners: @knolleary

Blog: How to Deploy Node-RED Flows with MQTT Brokers Per Pipeline Stage Using FlowFuse
  src/blog/2025/03/deploy-node-red-flows-mqtt-brokers-flowfuse.md
  src/blog/2025/03/images/CHANGE-NODE-TOPIC.png
  src/blog/2025/03/images/CHANGE-NODE.png
  src/blog/2025/03/images/broker-topic-monitoring.png
  src/blog/2025/03/images/devops-pipeline.png
  src/blog/2025/03/images/env-settings.png
  src/blog/2025/03/images/env-vars-blur.png
  src/blog/2025/03/images/mqtt-broker-out-config.png
  src/blog/2025/03/images/mqtt-config-with-env.png
  src/blog/2025/03/images/mqtt-node-security-config.png
Owners: none

Blog: How to Deploy Node-RED Flows with MQTT Brokers Per Pipeline Stage Using FlowFuse
  src/blog/2025/03/deploy-node-red-flows-mqtt-brokers-flowfuse.md
Owners: none

Blog: How to Deploy Node-RED Flows with MQTT Brokers Per Pipeline Stage Using FlowFuse
  src/blog/2025/03/deploy-node-red-flows-mqtt-brokers-flowfuse.md
Owners: none

Update deploy-node-red-flows-mqtt-brokers-flowfuse.md
  src/blog/2025/03/deploy-node-red-flows-mqtt-brokers-flowfuse.md
Owners: none

Add volume pricing to features table
  src/_data/pricingFeatures.yaml
Owners: none

Update deploy-node-red-flows-mqtt-brokers-flowfuse.md
  src/blog/2025/03/deploy-node-red-flows-mqtt-brokers-flowfuse.md
Owners: none

Add missing new line between bullet points
  src/handbook/company/security/access-control.md
Owners: @knolleary

add partial for debian and include it in the debian based hardware pages
  src/_includes/hardware/accessing-node-red-editor.njk
  src/_includes/hardware/device-registration.njk
  src/_includes/hardware/system/debian-ff-install.njk
  src/node-red/hardware/armxy-bl340.md
  src/node-red/hardware/images/config-ff-command-b340.png
  src/node-red/hardware/images/configuration-dailog-with-one-time-code.png
  src/node-red/hardware/raspberry-pi-4.md
  src/node-red/hardware/raspberry-pi-5.md
  src/node-red/hardware/robustel-eg5120.md
Owners: none

Update device-registration.njk
  src/_includes/hardware/device-registration.njk
Owners: none

Fix typo for scrutiny on strategy page
  src/handbook/company/strategy.md
Owners: @ZJvandeWeg

Update styling
  src/css/style.css
  src/partners/index.njk
Owners: none

fix typo + outdated information
  src/handbook/company/communication.md
  src/handbook/company/strategy.md
Owners: @ZJvandeWeg

Change layout from flex to grid
  src/partners/index.njk
Owners: none

Add Oxford comma to code of conduct
  src/handbook/peopleops/code-of-conduct.md
Owners: @ZJvandeWeg

add another oxford comma
  src/handbook/peopleops/code-of-conduct.md
Owners: @ZJvandeWeg

fix typo
  src/handbook/peopleops/compensation.md
Owners: @ZJvandeWeg

fix typos
  src/handbook/peopleops/compensation.md
Owners: @ZJvandeWeg

more typos + polish
  src/handbook/peopleops/hiring.md
Owners: @ZJvandeWeg

more typos + polish
  src/handbook/peopleops/leave.md
Owners: @ZJvandeWeg

more typos + polish
  src/handbook/peopleops/performance-review.md
Owners: @ZJvandeWeg

standardize on PeopleOps (from HR)
  src/handbook/peopleops/index.md
  src/handbook/peopleops/organization.md
Owners: @ZJvandeWeg

Add SINGL4 as a company
  .eleventy.js
  src/_data/companies/singl.json
  src/_includes/blueprints/blueprint-card.njk
  src/images/singl4_logo.png
Owners: none

Update ICP
  src/handbook/company/strategy.md
Owners: @ZJvandeWeg

Update armxy-bl340.md
  src/node-red/hardware/armxy-bl340.md
Owners: none

Update armxy-bl340.md
  src/node-red/hardware/armxy-bl340.md
Owners: none

chore: Pin external actions to commit hash
  .github/workflows/build.yml
  .github/workflows/calibreapp-image-actions.yml
  .github/workflows/test.yml
Owners: none

Update project-management.md
  src/handbook/development/project-management.md
Owners: @knolleary

Add video, slides form and update copy
  src/webinars/2025/flowfuse-and-hivemq-powering-the-core-components-of-a-unified-namespace.md
Owners: none

Update company mission statement
  src/handbook/company/strategy.md
Owners: @ZJvandeWeg

Update deploy-node-red-flows-mqtt-brokers-flowfuse.md
  src/blog/2025/03/deploy-node-red-flows-mqtt-brokers-flowfuse.md
Owners: none

Update src/handbook/company/decisions.md
  src/handbook/company/decisions.md
Owners: @ZJvandeWeg
